.header {
  display: flex;
  align-items: center;

  .logo {
    width: 12rem;
    height: 3rem;
    background-image: url('../../asset/logo_easy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and(max-width: 991px) {
  .header {
    min-height: 12rem !important;
  }

  .logo {
    background-image: url('../../asset/logo_easy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3rem;
  }
}

@keyframes move-up-100 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes move-in-100 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.move-out-100 {
  animation: move-out-100 0.3s ease 0s 1 normal forwards;
}

.move-in-100 {
  animation: move-in-100 0.3s ease 0s 1 normal forwards;
}
