.header {
  display: flex;
  align-items: center;

  .logo {
    width: 12rem;
    height: 3rem;
    background-image: url('../../asset/logo_easy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and(max-width: 991px) {
  .header {
    min-height: 12rem !important;
  }

  .logo {
    background-image: url('../../asset/logo_easy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3rem;
  }
}
