$bg: #edf2f0;

$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;

$purple: #4b70e2;

.card {
  max-width: 400px;
  height: 320px;
  margin: 80px auto !important;
  background: #ecf0f3 !important;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #fff;
  border-radius: 10px !important;
}

.rmb-text {
  color: $purple !important;
}

.spin-box {
  padding-top: 100px;
  text-align: center;
}

.insert-shadow {
  label {
    color: $gray !important;
  }

  div {
    border: none;
    background-color: transparent;

    input {
      box-shadow: inset 2px 2px 4px $neu-2, inset -2px -2px 4px $white;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 1rem;
      height: 40px;
    }
  }

  span {
    border: none;
    background-color: transparent;
    padding: 0;

    input {
      box-shadow: inset 2px 2px 4px $neu-2, inset -2px -2px 4px $white !important;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 1rem !important;
      height: 40px;
    }

    span {
      display: none;
    }
  }
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: $purple;
  color: $white;
  box-shadow: 8px 8px 16px $neu-2, -8px -8px 16px $white;
  border: none;
  outline: none;
}
