@import './sass/variable.module.scss';

.avatar-p {
  font-size: 1.6rem;
  color: $color-secondary;

  @media only screen and(max-width: 767px) {
    font-size: 1.2rem;
  }
}

.txt-12 {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.txt-12-grey {
  color: #707070;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: normal;
  margin-bottom: 10px;
  display: block;
}

.i-clock {
  background-image: url(./asset/i_clock.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 12px;
  width: 20px;
  display: inline-block;
}

.ant-spin-container {
  background-color: transparent !important;
}

.lightblue-bg {
  background-color: rgba(215, 226, 243, 0.2);
  padding: 10px;
}

.easy-btn1 {
  background-color: #3e80f9 !important;
}
